* {
    background: rgba(0,0,1,0.5);
    foreground: #FFFFFF;
    color0:     #141615;
    color1:     #6798CF;
    color2:     #94A2A9;
    color3:     #94B2D1;
    color4:     #A5BCD2;
    color5:     #93B9E0;
    color6:     #AFC6D7;
    color7:     #cedeea;
    color8:     #909ba3;
    color9:     #6798CF;
    color10:    #94A2A9;
    color11:    #94B2D1;
    color12:    #A5BCD2;
    color13:    #93B9E0;
    color14:    #AFC6D7;
    color15:    #cedeea;
}
